@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
.header{
    height: 7rem;
    margin-top: -20px;
    font-family: 'Archivo Narrow', sans-serif;
}

.title{
    color: #fff;
    font-size: 22px;
    padding:2% ;
}