
.card-element{
    border:none ;
    width: 90%;
    height: 200px;
    border-radius: 3px;
    overflow: hidden;
    border-left: #fff 1px solid;
    border-right:#fff 1px solid ;
    margin:2%;
}

.card-element:hover{
    filter:opacity(0.9);
    transform: scale(1.04);
}

.imagen{
    width: 260px;
    height: 150px;
}

.character-name{
    text-align: center;
}